* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  text-align: center;
  font-size: xx-large;
  margin: 30px 0;
  color: rgba(97, 21, 221, 1);
}

main {
  background-color: rgba(98, 21, 221, 0.1);
  padding: 40px 60px;
  border-radius: 7px;
  width: 70%;
  margin: 10px auto;
  font-size: x-large;
}

h3 {
  text-align: center;
  font-size: 35px;
  margin: 7px 0;
}

#calculo {
  text-align: center;
}

#buttons {
  margin: 15px 0;
  text-align: center;
}

button {
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 7px;
  font-size: x-large;
  text-transform: uppercase;
}

button#calcular {
  background-color: rgba(97, 21, 221, 1);
  color: white;
}

button#calcular:hover {
  background-color: rgba(98, 21, 221, 0.816)
}

button#clear {
  color:  rgba(97, 21, 221, 1);
  background-color: white;
}

button#clear:hover {
  background-color: rgba(128, 128, 128, 0.334);
}

input {
  cursor: pointer;
  padding: 1px 4px;
  border-radius: 7px;
  font-size: x-large;
  border: 1px solid gray;
}

label {
  font-size: x-large;
}

hr {
  width: 100%;
  border: 0.1px solid rgba(98, 21, 221, 0.816);
  margin: 25px 0;
}

table {
  border: 1px solid rgba(98, 21, 221, 0.816);
  font-size: 25px;
  text-align: center;
  border-collapse: collapse;
  margin: 15px 0;
}

.final-result {
  font-weight: 700;
}

th {
  padding: 5px;
  background-color: rgba(98, 21, 221, 0.816);
  border: 1px solid rgba(98, 21, 221, 0.816);
  color: white;
}

td {
  width: 300px;
  height: 40px;
  padding: 5px;
  border: rgba(98, 21, 221, 0.816);
  border: 1px solid rgba(98, 21, 221, 0.816);
}

footer {
  background-color: rgba(97,21,221,1);
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
}